<div class="row">
  <div class="col-6">
    <h4>Login</h4>
    <form (ngSubmit)="loginUser()">
      <input type="email" [(ngModel)]="user.email" name="email">
      <input type="password" [(ngModel)]="user.password" name="password">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-6">
    <h4>Register</h4>
    <form (ngSubmit)="createUser()">
      <input type="email" [(ngModel)]="user.email" name="email">
      <input type="password" [(ngModel)]="user.password" name="password">
      <input type="text" [(ngModel)]="user.username" name="username">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
