<div class="row">
  <div class="col-12 text-center">
    <h1>home</h1>
    <div *ngFor="let post of posts" class="card post">
      <div class="card container-fluid center">
        <div class="card-body">
          <a>
            <h4>{{post.title}}</h4>
          </a>
          <!-- <img :src="post.img" alt=""> -->
          <p>{{post.body}}</p>
          <!-- <button v-if="post.userId == user._id" @click="deletePost(post)">Delete</button>
          <div v-if="user._id">
            <button @click="favPost(post)" v-if="!(user.favorites.includes(post._id))">
              <i class="far fa-star"></i>
            </button>
            <button @click="unFavPost(post)" v-else>
              <i class="fas fa-star"></i>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>