<div class='container-fluid'>
  <nav class="navbar navbar-light top-header">
    <div>
      <a class="navbar-brand">Home</a>
      <a class="navbar-brand">Favorites</a>
    </div>
    <a class="navbar-brand" (click)="login()">Sign up/Login</a>
    <div class="d-flex flex-column">
      <!-- <a class="navbar-brand">User: {{user.name}}</a> -->
      <a class="navbar-brand">Sign out</a>
    </div>
  </nav>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>